<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/carrito.css"> 
    <%- include ('../partials/head') %>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    <title>Carrito</title>
</head>
<body>
    <%- include ('../partials/header') %> 

    <main class="carritoContainer">

        <h1 class="heading">
            <ion-icon name="cart-outline"></ion-icon>Carrito
        </h1>

        <div class="item-flex">
            <section class="cart">
                <div class="cart-item-box">
                    <h2 class="section-heading">Total de la orden</h2>
                    <div class="product-card"  id="product-card">
                        <div class="card">
                            <div class="img-box">
                                <img src="/imagenes/products/chipa.webp" alt="producto" class="product-img">
                            </div>

                            <div class="detail">
                                <h4 class="product-name">Chipa 1/4 </h4>

                                <div class="wrapper">
                                    <div class="product-qty">
                                        <button id="decrement">
                                            <ion-icon class="iconosCarrito" name="remove-outline"></ion-icon>
                                        </button>
    
                                        <span id="quantity">1</span>
    
                                        <button id="increment">
                                            <ion-icon class="iconosCarrito" name="add-outline"></ion-icon>
                                        </button>
                                    </div>
    
                                    <div class="price">
                                        $ <span id="price">1.25</span>
                                    </div>
                                </div>
                            </div>

                            <button id="product-close-btn">
                                <ion-icon class="iconosCarrito" name="close-outline"></ion-icon>
                            </button>
                    
                        </div>
                    </div>

                    <div class="product-card" id="product-card">
                        <div class="card">
                            <div class="img-box">
                                <img src="/imagenes/products/medialuna.webp" alt="producto" class="product-img">
                            </div>

                            <div class="detail">
                                <h4 class="product-name">Medialunas </h4>

                                <div class="wrapper">
                                    <div class="product-qty">
                                        <button id="decrement">
                                            <ion-icon class="decrement" name="remove-outline"></ion-icon>
                                        </button>
    
                                        <span id="quantity">1</span>
    
                                        <button id="increment">
                                            <ion-icon class="increment" name="add-outline"></ion-icon>
                                        </button>
                                    </div>
    
                                    <div class="price">
                                        $ <span id="price">1.25</span>
                                    </div>
                                </div>
                            </div>

                            <button id="product-close-btn">
                                <ion-icon name="close-outline"></ion-icon>
                            </button>
                    
                        </div>
                    </div>

                </div>

            </section>

            <section class="chekout">
                <h2 class="section-heading">Detalles de pago</h2>
                <div class="payment-form">
                    <div class="wrapper">
                        <div class="discount-token">
                            <label for="discount-token" class="label-default">Codigo de descuento</label>
                            <div class="wrapper-flex">
                                <input type="text" name="discount-token" id="discount-token" class="input-default">
                            
                                <button id="botonDescuento" class="btn btn-outline">Enviar</button>
                            </div>
                        </div>
                        <div class="amount">
                            <div class="total">
                                <span>Subtotal $</span> <input type="number" value="2.05">
                            </div>
                                
                             <div class="total">
                                <span>Total $</span><input type="number" value="2.15">
                             </div>
                        </div>
                    </div>
                    <form action="">
                    <div class="payment-method">
                        <button class="method">
                            <ion-icon name="card"></ion-icon>
                            <span>Tarjeta de credito</span>
                            <ion-icon class="checkmark fill" name="checkmark-circle"></ion-icon>
                        </button>

                        <button class="method">
                            <ion-icon name="logo-paypal"></ion-icon>
                            <span>Paypal</span>
                            <ion-icon class="checkmark fill" name="checkmark-circle-outline"></ion-icon>
                        </button>
                    </div>
                
                        <div class="cardholder-name">
                            <label for="" class="label-default">Nombre de la tarjeta</label>
                            <input type="text" name="cardholder-name" id="cardholder-name" class="input-default">
                        </div>
            
                        <div class="input-flex">
            
                            <div class="expire-date">
                                <label for="expire-date" class="label-default">Fecha de expiracion</label>
                                <div class="input-flex">
                                    <input type="month" id="month-input">
                                    <script>
                                        const input = document.getElementById("month-input");
                                        input.addEventListener("input", function() {
                                          console.log(this.value);
                                        });
                                      </script>
                                </div>
                            </div>
                            <div class="cvv">
                                <label for="" class="label-default">CVV</label>
                                <input type="number" name="cvv" id="cvv" class="input-default">
                            </div>
                        </div>
            
                    </form>

                </div>

                <button class="btn btn-primary pagar">
                    <b>Pagar</b> $ <span id="payAmount">1.15</span> 
                </button>

            </section>

            <!-- seccion carrito -->

            

        </div>

        

    </main>

</body>
</html>