<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <link rel="stylesheet" href="/Css/Carrito.css"> 
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    <title>Carrito</title>
</head>
<%- include ('../partials/header') %> 
<body>

    <main class="container">

        <h1 class="heading">
            <ion-icon name="cart-outline"></ion-icon>Carrito
        </h1>

        <div class="item-flex">

            <section class="checkout">
                <h2 class="section-heading">Detalles de pago</h2>
                <div class="payment-form">
                    <div class="payment-method">
                        <button class="method selected">
                            <ion-icon name="card"></ion-icon>
                            <span>Tarjeta de credito</span>
                            <ion-icon class="checkmark fill" name="checkmark-circle"></ion-icon>
                        </button>

                        <button class="method ">
                            <ion-icon name="cash-outline"></ion-icon>

                            <span>Efectivo</span>
                            <ion-icon class="checkmark fill" name="checkmark-circle-outline"></ion-icon>
                        </button>
                    </div>

                    <form action="#">
                        <div class="cardholder-name">
                            <label for="" class="label-default">Nombre de la tarjeta</label>
                            <input type="text" name="cardholder-name" id="cardholder-name" class="input-default">
                        </div>
                        <div class="card-number">
                            <label for="" class="label-default">Numero de la tarjeta</label>
                            <input type="number" name="card-number" id="card-number" class="input-default">
                        </div>
            
                        <div class="input-flex">
            
                            <div class="expire-date">
                                <label for="expire-date" class="label-default">Fecha de expiracion</label>
                                <div class="input-flex">
                                    <input type="number" name="day" id="expire-date" placeholder="31" min="1" max="31" class="input-default">
                                /
                                    <input type="number" name="month" id="expire-date" placeholder="12" min="1" max="12" class="input-default">
                                </div>
                            </div>
                            <div class="cvv">
                                <label for="" class="label-default">CVV</label>
                                <input type="number" name="cvv" id="cvv" class="input-default">
                            </div>
                        </div>
            
                    </form>

                </div>

                <button class="btn btn-primary">
                    <b>Pagar</b> $ <span id="payAmount"></span> 
                </button>

            </section>

            <!-- seccion carrito -->

            <section class="cart">
                <div class="cart-item-box">
                    <h2 class="section-heading">Total de la orden</h2>
                    <div class="product-card">
                        <div class="card">
                            <div class="img-box">
                                <img src="/imagenes/products/chipa.webp" alt="producto" width="100%" class="product-img">
                            </div>

                            <div class="detail">
                                <h4 class="product-name">Chipa 1/4 </h4>

                                <div class="wrapper">
                                    <div class="product-qty">
                                        <button id="decrement">
                                            <ion-icon name="remove-outline"></ion-icon>
                                        </button>
    
                                        <span id="quantity">1</span>
    
                                        <button id="increment">
                                            <ion-icon name="add-outline"></ion-icon>
                                        </button>
                                    </div>
    
                                    <div class="price">
                                        $ <span id="price">300$</span>
                                    </div>
                                </div>
                            </div>

                            <button id="product-close-btn">
                                <ion-icon name="close-outline"></ion-icon>
                            </button>
                    
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="card">
                            <div class="img-box">
                                <img src="/imagenes/products/medialuna.webp" alt="producto" width="100%" class="product-img">
                            </div>

                            <div class="detail">
                                <h4 class="product-name">Medialunas </h4>

                                <div class="wrapper">
                                    <div class="product-qty">
                                        <button id="decrement">
                                            <ion-icon name="remove-outline"></ion-icon>
                                        </button>
    
                                        <span id="quantity">1</span>
    
                                        <button id="increment">
                                            <ion-icon name="add-outline"></ion-icon>
                                        </button>
                                    </div>
    
                                    <div class="price">
                                        $ <span id="price">250</span>
                                    </div>
                                </div>
                            </div>

                            <button id="product-close-btn">
                                <ion-icon name="close-outline"></ion-icon>
                            </button>
                    
                        </div>
                    </div>

                </div>

                <div class="wrapper">

                    <div class="discount-token">
                        <label for="discount-token" class="label-default">Codigo de descuento</label>
                        <div class="wrapper-flex">
                            <input type="text" name="discount-token" id="discount-token" class="input-default">
                        
                            <button class="btn btn-outline">Enviar</button>
                        </div>
                    </div>
                    <div class="amount">
                        <div class="subtotal">
                            <span>Subtotal</span>$ <span id="subtotal">550</span>
                        </div>
                        <div class="tax">
                            <span>Cargo de servicio</span>$ <span id="tax">100</span>
                        </div>
          
                        <div class="shipping">
                          <span>Envio</span>$ <span id="shipping">0.00</span>
                        </div>                   
                            
                         <div class="total">
                            <span>Total</span>$ <span id="total">650</span>
                         </div>
                    </div>
                </div>
            </section>

        </div>

        

    </main>
    <%- include ('../partials/footer') %>
</body>
</html>