<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/Css/Carrito.css"> 
    <title>Carrito</title>
</head>
<body>
    <%- include ('../partials/header') %> 

    <main class="main">
        <section class="cont-de-todo">
            <section class="cont-izq">
                <section class="cont-productos">
                    <article>
                        <div class="img-produ">
                            <img src="imagenes/chipa.webp" alt="imagen del chipa" class="imagen-producto">
                        </div>
                        <div class="cont-descripcion-item">
                            <div class="item">
                                <h3 class="descripcion"> Chipa (pan de queso)</h3>
                                <p>
                                    $30 c/u
                                </p>
                                <div class="cantidad-configuration">
                                    <span>Cantidad</span>
                                    <input type="number" name="cantidad" id="cantidad" min="1" value="1" required>
                                </div>
                            </div>
                            <div class="cont-botones">
                                <div class="botones">
                                    <div class="mas-menos">
                                        <div class="mas">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                        <div class="menos">
                                            <i class="fa-solid fa-minus"></i>
                                        </div>
                                    </div>
                                    <div class="deshacer">
                                        <i class="fa-solid fa-trash"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="img-produ">
                            <img src="imagenes/chipa.webp" alt="imagen del chipa" class="imagen-producto">
                        </div>
                        <div class="cont-descripcion-item">
                            <div class="item">
                                <h3 class="descripcion"> Chipa (pan de queso)</h3>
                                <p>
                                    $30 c/u
                                </p>
                                <div class="cantidad-configuration">
                                    <span>Cantidad</span>
                                    <input type="number" name="cantidad" id="cantidad" min="1" value="1" required>
                                </div>
                            </div>
                            <div class="cont-botones">
                                <div class="botones">
                                    <div class="mas-menos">
                                        <div class="mas">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                        <div class="menos">
                                            <i class="fa-solid fa-minus"></i>
                                        </div>
                                    </div>
                                    <div class="deshacer">
                                        <i class="fa-solid fa-trash"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="img-produ">
                            <img src="imagenes/chipa.webp" alt="imagen del chipa" class="imagen-producto">
                        </div>
                        <div class="cont-descripcion-item">
                            <div class="item">
                                <h3 class="descripcion"> Chipa (pan de queso)</h3>
                                <p>
                                    $30 c/u
                                </p>
                                <div class="cantidad-configuration">
                                    <span>Cantidad</span>
                                    <input type="number" name="cantidad" id="cantidad" min="1" value="1" required>
                                </div>
                            </div>
                            <div class="cont-botones">
                                <div class="botones">
                                    <div class="mas-menos">
                                        <div class="mas">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                        <div class="menos">
                                            <i class="fa-solid fa-minus"></i>
                                        </div>
                                    </div>
                                    <div class="deshacer">
                                        <i class="fa-solid fa-trash"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    
                </section>
            </section>
            <section class="cont-der">
                <section class="sect-detalle">
                    <div class="cont-detalle">
                        <div class="titulo-detalle">
                            <h3>Detalle de la compra:</h3>
                        </div>
                        <div class="descripcion">
                            n producto x       n cantidad<br><br>
                            n producto x       n cantidad<br><br>
                            n producto x       n cantidad<br><br>
                            n producto x       n cantidad<br>
                        </div>
                        <div class="total">
                            <h4>Total:</h4>
                            <input type="number" name="cantidad" id="cantidad" required>
                        </div>
                        <div class="cart-btn">Comprar</div>
                    </div>
                </section>
                <section class="sect-tipos">
                    <div class="cont-texto">
                        <h3>Formas de pago:</h3>
                    </div>
                    <div class="iconos-de-pago">
                        <i class="fa-solid fa-credit-card"></i>
                        <i class="fa-solid fa-credit-card"></i>
                        <i class="fa-solid fa-credit-card"></i>
                    </div>
                </section>
            </section>
        </section>
    </main>
</body>
</html>