<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <link href="css/Creacion.css" rel="stylesheet">
    <title>Añadir Producto</title>
</head>
<body>

    <%- include ('../partials/header') %> 

    <section class="container forms">

        <div class="form login">
            
            <div class="form-content">

                <header class="reg">Añadir Producto</header>

                <form action="#">

                    <div class="campo input-campo">
                        <label for="Nombre">Nombre de Producto:  </label>
                        <input type="text" placeholder="..." class="input">
                    </div>

                    <div class="campo input-campo">
                        <label for="Nombre">Descripción de Producto:  </label>
                        <input type="text" placeholder="..." class="input">
                    </div>

                    <div class="campo input-campo">
                        <label for="Nombre">Imagen Producto:  </label>
                        <input type="file" placeholder="..." accept="image/png, image/gif, image/jpeg">
                    </div>

                    <div class="campo input-campo">
                        <label for="categorias">Categorias:  </label>
                        <select name="categorias" id="categorias">
                            <option value="pasteleria">Pastelería</option>
                            <option value="panaderia">Panadería</option>
                            <option value="salados">Salados</option>
                            <option value="facturas">Facturas</option>
                        </select>
                    </div>

                    <div class="campo input-campo">
                        <label for="cantidad">Cantidad:  </label>
                        <input type="number" id="cantidad" name="cantidad" value="1">
                    </div>
                    
                    <div class="campo input-campo">
                        <label for="precio">Precio:  </label>
                        <input type="number" id="precio" name="precio">
                    </div>

                    <div class="campo input-campo">
                        <button>Añadir</button>
                    </div>
                
                </form>

            </div>
            
        </div>

    </section>

</body>
</html>