<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/Detalle.css" rel="stylesheet">
    <link href="css/General.css" rel="stylesheet">
    <title>Productos</title>
</head>
<body>
    <header id="header">
        <div class="cont-logo">
           <a href="/"><img src="Imagenes/Logo.png" alt="Logo del negocio" class="logo"></a> 
        </div>
        <div class="cont-nav">
            <nav class="navegacion">
                <div class="nav-desplegable">
                    <i class="fa-solid fa-bars desplegable"></i>
                </div>
                <ul class="pestañas">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/Productos">Productos</a></li>
                    <li><a href="/Carrito">Carrito</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="/Login">Ingresá</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        <!-- Columna Izquierda / Cañon Relleno de Dulce de Leche -->
        
        <div class="left-column">
            <img src="Imagenes/CañonRellenoDDL.jpg" alt="Cañon Relleno DDL">
        </div>

        <!-- Columna Derecha / Descripcion, Cantidad y Precio -->

        <div class="right-column">
        
          <!-- Descripcion de Producto -->
          <div class="product-description">
            <span>Facturas</span>
            <h1>Cañon Relleno de Dulce de Leche</h1>
            <p>Cañoncitos rellenos de Dulce de Leche, con masa casera de hojaldre simple y rápida.</p>
          </div>
       
          <!-- Cantidad -->
          <div class="cantidad-configuration">
            <span>Cantidad</span>
            <input type="number" name="cantidad" id="cantidad" min="1" value="1" required>
          </div>

          <!-- Precio -->
          <div class="product-price">Precio:
            <span>120$</span>
          </div>

          <!-- Añadir al Carrito-->
          <div>
            <a href="#" class="cart-btn">Añadir al Carrito</a>
          </div>

        </div>
    
    </main> 

    <footer id="footer" class="footer">
        <div class="vista-default">
            <i class="fa-solid fa-bars"></i>
            <div class="iconos-redes-vista">
                <div class="iconos-redes">
                    <a href="https://www.instagram.com/"><i class="fa-solid fa-camera"></i></a> 
                 </div>
                 <div class="iconos-redes">
                     <a href="https://www.facebook.com/"><i class="fa-solid fa-f"></i></a> 
                 </div>
                 <div class="iconos-redes">
                     <a href="https://twitter.com/home"><i class="fa-solid fa-dove"></i></a> 
                 </div>
            </div>
        </div>
        <div class="cont-footer">
            <div class="cont-pie">
                <h2 class="titulos-pie">Horarios</h2>
                <p>Mar - Vie</p>
                <p> de 9:00hs a 19:00hs</p>
                <p>Sab - Dom</p>
                <p> de 9:30hs a 18:00hs</p>
            </div>
            <div class="cont-pie cont-pie-dos">
                <h2 class="titulos-pie">Contacto</h2>
                <br>
                <p>Tel: 11-1234-5678</p>
                <p>Whatsapp: +54-9-11-8765-4321</p>
                <p>E-mail: origamib@outlook.com</p>
            </div>
            <div id="cont-i" class="cont-pie">
                <h2 class="titulos-pie">Siguenos en:</h2>
                <div class="redes-i">
                    <div class="iconos-redes">
                       <a href="https://www.instagram.com/"><i class="fa-solid fa-camera"></i></a> 
                    </div>
                    <div class="iconos-redes">
                        <a href="https://www.facebook.com/"><i class="fa-solid fa-f"></i></a> 
                    </div>
                    <div class="iconos-redes">
                        <a href="https://twitter.com/home"><i class="fa-solid fa-dove"></i></a> 
                    </div>
                </div>
            </div>
        </div>
    </footer>    
</body>
</html>

    
</body>
</html>