<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <link href="css/Index.css" rel="stylesheet">
    <link href="css/productos.css" rel="stylesheet">
    <title>Productos</title>
</head>

<body>

    <%- include ('../partials/header') %> 

    <main id="main-productos">

        <section id="productos">

            <div class="card">
                <img src="imagenes/chipa.webp" alt="imagen del chipa" class="imagen-producto">
                <h3 class="descripcion"> Chipa (pan de queso)<br><br>$30 c/u</h3>
            </div>
    
            <div class="card">
                <img src="imagenes/medialuna.webp" alt="imagen de la medialuna" class="imagen-producto">
                <h3 class="descripcion"> Medialuna de manteca<br><br>$45 c/u</h3>
            </div>
    
            <div class="card">
                <img src="imagenes/muffinZanahoria.jpg" alt="imagen del muffin" class="imagen-producto">
                <h3 class="descripcion"> Muffin de zanahoria<br><br>$50 c/u</h3>
            </div>
    
            <div class="card">
                <img src="imagenes/pan.webp" alt="imagen del pan" class="imagen-producto">
                <h3 class="descripcion"> Pan trenzado<br><br>$100 c/u</h3>           
            </div>
    
        </section>
    </main>

    <%- include ('../partials/footer') %> 

</body>  

</html>