<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/Index.css" rel="stylesheet">
    <link href="css/General.css" rel="stylesheet">
    <title>Index</title>
</head>

<body id="body">
    <header id="header">
        <div class="cont-logo">
           <a href="/"><img src="\Imagenes\Logo.png" alt="Logo del negocio" class="logo"></a> 
        </div>
        <div class="cont-nav">
            <nav class="navegacion">
                <div class="nav-desplegable">
                    <i class="fa-solid fa-bars desplegable"></i>
                </div>
                <ul class="pestañas">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/Productos">Productos</a></li>
                    <li><a href="/Carrito">Carrito</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="/Login">Ingresá</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main id="main">
        <div class="slider">
            <ul class="cont-img-carrusel">
                <li class="img-movil">
                    
                    <div class="enunciado">
                        <a href="/Productos"><h2 class="titulo">Date un gusto</h2></a> 
                        <p class="descripcion"> Descubre nuestras delicias</p>
                    </div>
                    <img src="Imagenes\tienda.jpg" alt="Tienda">
                </li>
                <li class="img-movil">            
                    <div class="enunciado">
                        <a href="/Productos"><h2 class="titulo">La mejor calidad</h2></a>
                        <p class="descripcion">El mejor sabor</p>
                    </div>
                    <img src="Imagenes\carrusel-productos-panes.jpg" alt="Producto: panes">
                </li>
                <li class="img-movil">
                    
                    <div class="enunciado">
                        <a href="/Login"><h2 class="titulo">Conocenos</h2></a>
                        <p class="descripcion">Mas de x años historias</p>
                    </div>
                    <img src="Imagenes\carrusel-nosotros.jpg" alt="Nosotros">
                </li>
            </ul>
        </div>
    </main>

    <footer id="footer" class="footer">
        <div class="vista-default">
            <i class="fa-solid fa-bars"></i>
            <div class="iconos-redes-vista">
                <div class="iconos-redes">
                    <a href="https://www.instagram.com/"><i class="fa-solid fa-camera"></i></a> 
                 </div>
                 <div class="iconos-redes">
                     <a href="https://www.facebook.com/"><i class="fa-solid fa-f"></i></a> 
                 </div>
                 <div class="iconos-redes">
                     <a href="https://twitter.com/home"><i class="fa-solid fa-dove"></i></a> 
                 </div>
            </div>
        </div>
        <div class="cont-footer">
            <div class="cont-pie">
                <h2 class="titulos-pie">Horarios</h2>
                <p>Mar - Vie</p>
                <p> de 9:00hs a 19:00hs</p>
                <p>Sab - Dom</p>
                <p> de 9:30hs a 18:00hs</p>
            </div>
            <div class="cont-pie cont-pie-dos">
                <h2 class="titulos-pie">Contacto</h2>
                <br>
                <p>Tel: 11-1234-5678</p>
                <p>Whatsapp: +54-9-11-8765-4321</p>
                <p>E-mail: origamib@outlook.com</p>
            </div>
            <div id="cont-i" class="cont-pie">
                <h2 class="titulos-pie">Siguenos en:</h2>
                <div class="redes-i">
                    <div class="iconos-redes">
                       <a href="https://www.instagram.com/"><i class="fa-solid fa-camera"></i></a> 
                    </div>
                    <div class="iconos-redes">
                        <a href="https://www.facebook.com/"><i class="fa-solid fa-f"></i></a> 
                    </div>
                    <div class="iconos-redes">
                        <a href="https://twitter.com/home"><i class="fa-solid fa-dove"></i></a> 
                    </div>
                </div>
            </div>
        </div>
    </footer>    
</body>
</html>