<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICONS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- FUENTES -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- LINKS CSS -->
     <link href="css/normalize.css" rel="stylesheet">
    <link href="css/Index.css" rel="stylesheet">
    <link href="css/General.css" rel="stylesheet"> 
    <link href="css/Login.css" rel="stylesheet">
    <title>LogIn</title>
</head>
<body>

    <header id="header">

        <div class="cont-logo">
           <a href="/"><img src="\Imagenes\Logo.png" alt="Logo del negocio" class="logo"></a> 
        </div>
        <div class="cont-nav">
            <nav class="navegacion">
                <div class="nav-desplegable">
                    <label for="check-desplegable" class="fa-solid fa-bars desplegable"></label>
                </div>
                <input type="checkbox" id="check-desplegable">
                <ul class="pestañas">
                    <li class="minimisar"><a href="/">Inicio</a></li>
                    <li class="productos"><a href="#">Productos</a>
                        <ul class="sub-menu">
                            <li><a href="/productos">Todo</a></li>
                            <li><a href="/Panaderia">Panaderia</a></li>
                            <li><a href="/Confiteria">Confiteria</a></li>
                            <li><a href="/Eventos">Eventos</a></li>
                        </ul>
                    </li>
                    <li class="minimisar"><a href="/Carrito">Carrito</a></li>
                    <li class="minimisar"><a href="#">Nosotros</a></li>
                    <li class="minimisar"><a href="/Login">Ingresá</a></li>
                </ul>
            
            </nav>
        </div>
        
    </header>

    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header class="reg">Iniciar Sesion</header>
                <form action="#">

                    <div class="campo input-campo">
                        <input type="email" placeholder="Email" class="input">
                    </div>

                    <div class="campo input-campo">
                        <input type="password" placeholder="Contraseña" class="input">
                        <!-- <i class="fa-regular fa-eye-slash"></i> -->
                    </div>
                    
                    <div class="form-link">
                            <a href="#" class="forgot-pass">Olvidaste tu Contraseña?</a>
                    </div>

                    <div class="campo input-campo">
                        <button>Login</button>
                    </div>
                
                    
                </form>
                <div class="form-link">
                   <span>No tenes una cuenta? <a href="/Registro" class="signup-link">Registrate</a></span>
                </div>
            </div>
            
<div class="line"></div>

<div class="media-options">
    <a href="#" class="campo facebook">
        <i class="fa-brands fa-facebook-f facebook-icon"></i>
        <span>Inicia sesion con Facebook</span>
    </a>
</div> 

<div class="media-options">
    <a href="#" class="campo google">
        <i class="fa-brands fa-google google-icon"></i>
        <span>Inicia sesion con Google</span>
    </a>
</div> 
        </div>
    </section>
</body>
</html>