/*-------------------- HEADER --------------------------*/
/*-----------------LOGO-------------------*/
/*--------------BARRA DE BUSQUEDA-------------*/
/*---------------TEXTO---------------*/
/*--------------NAVEGADOR---------------*/
/*-----------------MENU BURGER-----------------*/
/*--------------------------MAIN---------------------------*/
/*---------------------BANNER---------------------------*/
/*------------------IMAGENES----------------------*/
/*------------DESCRIPCION----------------*/
/*------------------TITULARES---------------------*/
/*------------------FOOTER---------------*/
@media (min-width: 1200px) {

    /*--------------------------MAIN---------------------------*/
.main{
    margin: 110px auto 0;
}
.cont-de-todo{
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;  
}
.cont-izq{
    width: 65%;
    border: solid 1px #1f1f1f;
    background-color: #6c6c6ca7;
    border-radius: 10px 0 0 10px;
}

.cont-productos article{
    margin: 10px;
    display: flex;
    background-color: #e1e1e1;
    border-radius: 10px 0 0 10px;
    border: solid 1px #1f1f1f;

}
.cont-descripcion-item{
    display: flex;
    margin: 0 15px;
    padding-left: 10px;
    border-left:solid 1px #1f1f1f;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cont-botones{
    margin: 0 15px;
    display: flex;
    align-items: center;
}
.botones{
    margin: 0 15px;
    display: flex;
}
.mas-menos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mas{
    font-size: 20px;
    color: #6c6c6c;
    margin-left: 10px;
    align-self: center;
    border: solid 2px #6c6c6c;
    border-radius: 100%;
    padding: 5px 10px;
    position: relative;
    left: 30%;
}
.menos{
    font-size: 20px;
    color: #6c6c6c;
    margin-left: 10px;
    align-self: center;
    border: solid 2px #6c6c6c;
    border-radius: 100%;
    padding: 5px 10px;
    position: relative;
    left: 30%;
}
.deshacer{
    font-size: 45px;
    color: #6c6c6c;
    margin-left: 10px;
    align-self: center;
    border: solid 2px #6c6c6c;
    border-radius: 100%;
    padding: 15px 20px;
    position: relative;
    left: 30%;
}
.cont-der{
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: #e1e1e1;
    border-radius: 0 10px 10px 0;
    border-top: solid 1px #1f1f1f;
    border-right: solid 1px #1f1f1f;
    border-bottom: solid 1px #1f1f1f;
}
.sect-detalle{
    width: 100%;
}
.cont-detalle{
    width: 100%;
}
.titulo-detalle{
    font-weight:bold;
    font-size: 19px;
    display: flex;
    width: 100%;
    border-bottom: solid 2px #1f1f1f;
    padding: 15px 0;
    justify-content: center;
}

.descripcion{
    padding: 15px;
}
.total{
    display: flex;
    justify-content: space-evenly;
    border-top:dotted 1px #1f1f1f;
    border-bottom:dotted 1px #1f1f1f;
    padding: 10px 0;
}
.total h4{
    font-size: 18px;
    font-weight: bolder;
}
.sect-tipos{
    border-top: solid 2px #1f1f1f;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.sect-tipos .cont-texto{
    width: 100%;
    border-bottom: solid 2px #1f1f1f;
    padding: 15px;
}
.cont-texto h3{
    display: flex;
    justify-content: center;
}
.iconos-de-pago{
    font-size: 40px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
    /*------------------IMAGENES----------------------*/
.img-produ{
    width: 200px;
    margin: 10px 0 8px 15px;
}
img {
    width: 100%;
}
    /*------------DESCRIPCION----------------*/
    /*------------------BOTON---------------------*/
    .cart-btn {
        width: 65%;
        margin: 15px auto;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #80bb60;
        border-radius: 10px;
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 12px 30px;
        transition: all 450ms;
        border: solid 1px #45762b;
      }
    
    .cart-btn:hover {
        background-color: #58903a;
      }
    
    /*------------------FOOTER---------------*/
}