.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  /* Columnas */
.left-column {
    width: 55%;
    position: relative;
    display: flex;
    justify-content: center;
  }

.right-column {
    width: 45%;
    position: relative;
    margin: 45px;
    display: flex;
    flex-direction: column;
  }

  /* Imagen Columna Izquierda */
.left-column img {
    width: 50%;
  }

  /* Descripcion de Producto */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }

.product-description span {
    font-size: 12px;
    color: #ffffffae;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }

.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #ffffffae;
    letter-spacing: -2px;
  }

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #ffffffae;
    line-height: 24px;
  }

  /* Cantidad */
.cantidad-configuration {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ffffffae;
    margin-bottom: 20px;
  }

.cantidad-configuration span {
    font-size: 26px;
    font-weight: 300;
    color: #ffffffae;
    margin-right: 20px;
  }

  /* Product Price */
.product-price {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffffffae;
    margin-bottom: 20px;
  }

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #ffffffae;
    margin-right: 20px;
  }

  /* Añadir al Carrito*/

.cart-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #80bb60;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }

.cart-btn:hover {
    background-color: #5b8b41;
  }

  /* Responsive */
@media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
   
.left-column, .right-column {
      width: 100%;
    }
   
.left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
   
@media (max-width: 535px) {
    .left-column img {
      width: 220px;
      top: -85px;
    }
  }