*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #6c6c6c;
    background-image: url(/Imagenes/fondo.jpg);
    background-size: cover;
}
/*-------------------- HEADER --------------------------*/
#header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 2%;
    left: 2%;
    right: 2%;
    z-index: 1;
}
/*-----------------LOGO-------------------*/
.cont-logo {
    width: 100px;
}
.cont-logo img {
    width: 100%;
}

/*--------------BARRA DE BUSQUEDA-------------*/
/*---------------TEXTO---------------*/
/*--------------NAVEGADOR---------------*/
.cont-nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    margin-top: 15px;

}
.navegacion {
}
.pestañas {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}
.pestañas a:hover {
    background-color: #1f1f1daa;
    color: #e3bd00c7;   
}
.pestañas a {
    font-size: 18px;
    background-color: #1f1f1d3d;
    border-radius: 50px;
    padding: 5px 10px;
    text-decoration: none;
    color:#ffffff;
    transition: all 400ms;
}
/*-----------------MENU BURGER-----------------*/
/*--------------------------MAIN---------------------------*/

/*---------------------BANNER---------------------------*/
/*------------------IMAGENES----------------------*/
/*------------DESCRIPCION----------------*/
/*------------------TITULARES---------------------*/
/*------------------FOOTER---------------*/
#footer {
    color: #ffffffae;
    background-color: #1f1f1d89;
    position: absolute;
    bottom: 0;
    align-items: flex-end;
    width: 100%;
    padding: 10px 0 5px;
    box-sizing: border-box;
    display: none;
}

.cont-footer {
    
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.cont-pie {
    border-left: solid 1px #e1e1e1; 
    border-right: solid 1px #e1e1e1;
    width: 30%;
}
.cont-footer h2 {
    text-align: center;
}
.cont-footer p {
    margin: 0 3%;
    text-align: justify;
}
.titulos-pie {
    margin: 5px;
}
.redes-i {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.iconos-redes {
    width: 30px;
    font-size: 30px;
    text-align: center;
    padding: 0 2px;
    border: solid 1px #e1e1e1;
    text-align: center;
    box-sizing: content-box;
}
@media (min-width: 1200px) {
/*-------------------- HEADER --------------------------*/
/*-----------------LOGO-------------------*/
/*--------------BARRA DE BUSQUEDA-------------*/
/*---------------TEXTO---------------*/
/*--------------NAVEGADOR---------------*/
.cont-nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;

}
.navegacion {
    width: 100%;
    margin-right: 5%;
}
.pestañas {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
/*-----------------MENU BURGER-----------------*/
/*--------------------------MAIN---------------------------*/
/*---------------------BANNER---------------------------*/
/*------------------IMAGENES----------------------*/
/*------------DESCRIPCION----------------*/
/*------------------TITULARES---------------------*/
/*------------------FOOTER---------------*/
}