/* FUENTE POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* A todo el form le doy estas caracteristicas */
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url('/Imagenes/fondo.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/* a la caja del login le asigno: */
.form{
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px ;
    background: #fff;
}

/* al header (LogIn) le asigno: */
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

/* al contenido del formulario le doy una separacion de 30px entre si */
form{
    margin-top: 30px;
}

/* a los inputs les doy estas caracteristicas */
.form .campo{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

/* a los inputs y al boton les asigno: */
.campo input,
.campo button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.campo input{
    /* outline: none; */
    padding: 0 15px;
    border: 1px solid #cacaca;
}

/* a los a href */
.form-link{
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a{
    font-size:14px;
    font-weight: 400;
    color: #232836;
}

.media-options a{
    display: flex;
    background-color: #4267b2;
    justify-content: center;
    align-items: center;
}

a.facebook{
    color: #fff;
    background-color: #4267b2;
}

/*
Tengo que arreglar el tema del ojito en el password xd
.fa-eye-slash{
    position: absolute;
    top: 50%;
    right: 10px;
   
    font-size: 18px;
    color:gray;
} */

.campo button{
    color: #FFF;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.campo button:hover{
    color: #FFF;
    background-color: #016dcb
}

.form a{
    text-decoration: none;
}

/* cuando pases el mouse por arriba de algun a, se va a ver facherardo */
.form a:hover{
    text-decoration: underline;
}



@media (min-width: 1200px) {
    /*-------------------- HEADER --------------------------*/
    /*-----------------LOGO-------------------*/
    /*--------------BARRA DE BUSQUEDA-------------*/
    /*---------------TEXTO---------------*/
    /*--------------NAVEGADOR---------------*/
    /*-----------------MENU BURGER-----------------*/
    /*--------------------------MAIN---------------------------*/
    /*---------------------BANNER---------------------------*/
    /*------------------IMAGENES----------------------*/
    /*------------DESCRIPCION----------------*/
    /*------------------TITULARES---------------------*/
    /*------------------FOOTER---------------*/
    }