<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/nosotros.css" />
    <title>Index</title>
  </head>

  <body id="body">
    <%- include ('./partials/header') %>

    <div class="section">
      <div class="container">
        <div class="title">
          <h1>Sobre nosotros</h1>
        </div>
        <div class="content">
          <div class="article">
            <h3>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
              iure tempora, perspiciatis atque veniam ut dolorum? Rerum fugiat
              deserunt porro, incidunt adipisci obcaecati iste
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
              ducimus illo voluptate facere debitis vel porro quibusdam alias
              similique fugiat. Lorem ipsum dolor sit amet consectetur,
              adipisicing elit. Temporibus culpa praesentium nulla hic illo
              dolorem eos sequi suscipit fugiat ratione, eius deserunt, optio
              laborum officiis incidunt ut ex? Suscipit, voluptatum!
            </p>
            <div class="button">
              <a href="">Leer Mas</a>
            </div>
          </div>
        </div>
        <div class="image-section">
          <img src="Imagenes/nosotros1.jpg" alt="" />
        </div>
        <div class="social">
          <a href=""><i class="fa-brands fa-facebook-f facebook-icon"></i></a>
          <a href=""><i class="fa-brands fa-google google-icon"></i></a>
          <a href=""><i class="fa-brands fa-facebook-f facebook-icon"></i></a>
        </div>
      </div>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
