<footer id="footer" class="footer">
    <div class="vista-default">
        <i class="fa-solid fa-bars"></i>
        <div class="iconos-redes-vista">
            <div class="iconos-redes">
                <a href="https://www.instagram.com/"><i class="fa-solid fa-camera"></i></a> 
             </div>
             <div class="iconos-redes">
                 <a href="https://www.facebook.com/"><i class="fa-solid fa-f"></i></a> 
             </div>
             <div class="iconos-redes">
                 <a href="https://twitter.com/home"><i class="fa-solid fa-dove"></i></a> 
             </div>
        </div>
    </div>
    <div class="cont-footer">
        <div class="cont-pie">
            <h2 class="titulos-pie">Horarios</h2>
            <p>Mar - Vie</p>
            <p> de 9:00hs a 19:00hs</p>
            <p>Sab - Dom</p>
            <p> de 9:30hs a 18:00hs</p>
        </div>
        <div class="cont-pie cont-pie-dos">
            <h2 class="titulos-pie">Contacto</h2>
            <br>
            <p>Tel: 11-1234-5678</p>
            <p>Whatsapp: +54-9-11-8765-4321</p>
            <p>E-mail: origamib@outlook.com</p>
        </div>
        <div id="cont-i" class="cont-pie">
            <h2 class="titulos-pie">Siguenos en:</h2>
            <div class="redes-i">
                <div class="iconos-redes">
                   <a href="https://www.instagram.com/"><i class="fa-solid fa-camera"></i></a> 
                </div>
                <div class="iconos-redes">
                    <a href="https://www.facebook.com/"><i class="fa-solid fa-f"></i></a> 
                </div>
                <div class="iconos-redes">
                    <a href="https://twitter.com/home"><i class="fa-solid fa-dove"></i></a> 
                </div>
            </div>
        </div>
    </div>
</footer> 