<header id="header">

    <div class="cont-logo">
       <a href="/"><img src="\Imagenes\Logo.png" alt="Logo del negocio" class="logo"></a> 
    </div>
    <div class="cont-nav">
        <nav class="navegacion">
            <div class="nav-desplegable">
                <label for="check-desplegable" class="fa-solid fa-bars desplegable"></label>
            </div>
            <input type="checkbox" id="check-desplegable">
            <ul class="pestañas">
                <li class="minimisar"><a href="/">Inicio</a></li>
                <li class="productos"><a href="#">Productos</a>
                    <ul class="sub-menu">
                        <li><a href="/productos">Todo</a></li>
                        <li><a href="/Panaderia">Panaderia</a></li>
                        <li><a href="/Confiteria">Confiteria</a></li>
                        <li><a href="/Eventos">Eventos</a></li>
                    </ul>
                </li>
                <li class="minimisar"><a href="/Carrito">Carrito</a></li>
                <li class="minimisar"><a href="#">Nosotros</a></li>
                <li class="minimisar"><a href="/Login">Ingresá</a></li>
            </ul>
        
        </nav>
    </div>
    
</header>